<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a mat-list-item routerLink="/study_activities" routerLinkActive="active">Study Activities</a>
            <a mat-list-item routerLink="/words" routerLinkActive="active">Words</a>
            <a mat-list-item routerLink="/groups" routerLinkActive="active">Groups</a>
            <a mat-list-item routerLink="/study_sessions" routerLinkActive="active">Study Sessions</a>
            <a mat-list-item routerLink="/settings" routerLinkActive="active">Settings</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<div><h1>Side Nav</h1></div>